<!DOCTYPE html>
<html>
<head>

    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.24.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.datetimepicker.css" />
    <script src="~/Scripts/jquery.datetimepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    
    @*
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr") this still hasn't been included... 
    don't know what it does
    *@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    @*
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    *@
</head>
<body>
    <header>


        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("Loughborough Timetabling System", "Index", "Home")</p>
            </div>
            <div class="float-right">
                <nav>
                    <ul id="menu">
                        @if (Request.IsAuthenticated)
                        {
                            <li><strong>@Html.Encode(User.Identity.Name)</strong></li>
                            //if (@Html.Encode(User.Identity.Name)=="CA")
                            //{
                                @Html.ActionLink("Edit Facilities", "Index", "zFacilities")
                                @Html.ActionLink("Edit Pool Rooms", "Index", "zRooms")
                                @Html.ActionLink("Edit Rounds", "Index", "zRounds")
                                @Html.ActionLink("Edit Lecturers", "Index", "zLecturers")
                                @Html.ActionLink("Edit Programmes", "Index", "zProgrammes")
                            //}
                            @Html.ActionLink("Edit Requests", "Index", "zRequests")
                            @Html.ActionLink("Log out", "Logout", "User")
                        }
                        else
                        {
                            <li><strong>Please log in</strong></li>
                        }
                    </ul>
                </nav>
            </div>
        </div>

    </header>
    <div id="body">
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Loughborough Timetabling System</p>
            </div>
        </div>
    </footer>
    
</body>


</html>
