@model IEnumerable<TeamProject.zWeek>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Week1
        </th>
        <th>
            Week2
        </th>
        <th>
            Week3
        </th>
        <th>
            Week4
        </th>
        <th>
            Week5
        </th>
        <th>
            Week6
        </th>
        <th>
            Week7
        </th>
        <th>
            Week8
        </th>
        <th>
            Week9
        </th>
        <th>
            Week10
        </th>
        <th>
            Week11
        </th>
        <th>
            Week12
        </th>
        <th>
            Week13
        </th>
        <th>
            Week14
        </th>
        <th>
            Week15
        </th>
        <th>
            Week16
        </th>
        <th>
            zRequest
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WeekId }) |
            @Html.ActionLink("Details", "Details", new { id=item.WeekId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WeekId })
        </td>
        <td>
			@item.Week1
        </td>
        <td>
			@item.Week2
        </td>
        <td>
			@item.Week3
        </td>
        <td>
			@item.Week4
        </td>
        <td>
			@item.Week5
        </td>
        <td>
			@item.Week6
        </td>
        <td>
			@item.Week7
        </td>
        <td>
			@item.Week8
        </td>
        <td>
			@item.Week9
        </td>
        <td>
			@item.Week10
        </td>
        <td>
			@item.Week11
        </td>
        <td>
			@item.Week12
        </td>
        <td>
			@item.Week13
        </td>
        <td>
			@item.Week14
        </td>
        <td>
			@item.Week15
        </td>
        <td>
			@item.Week16
        </td>
        <td>
			@(item.zRequest == null ? "None" : item.zRequest.Count.ToString())
        </td>
    </tr>
}

</table>


