@model IEnumerable<TeamProject.zFacility>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @if (@Html.Encode(User.Identity.Name)=="CA")
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<table>
    <tr>
        <th></th>
        <th>Facility ID</th>
        <th>
            Facility
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if (@Html.Encode(User.Identity.Name)=="CA")
            {
                @Html.ActionLink("Edit", "Edit", new { id=item.FacilityId })
                @Html.ActionLink("Details", "Details", new { id=item.FacilityId })
                @Html.ActionLink("Delete", "Delete", new { id=item.FacilityId })
            }
            else
            {
                @Html.ActionLink("Details", "Details", new { id = item.FacilityId })
            }
        </td>
        <td>
            @item.FacilityId
        </td>
        <td>
			@item.FacilityName
        </td>
    </tr>
}

</table>


