@model TeamProject2.zProgramme

@{
    ViewBag.Title = "Edit Programme";
}

<h2>Edit @Model.ProgrammeCode - @Model.ProgrammeTitle</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>zProgramme</legend>

        @Html.HiddenFor(model => model.ProgrammeCode)
        <script src="~/Scripts/moduleselector.js"></script>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProgrammeTitle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProgrammeTitle)
            @Html.ValidationMessageFor(model => model.ProgrammeTitle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DeptCode)
        </div>
        <div class="editor-field">
            @Html.DropDownList("deptList")
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GradType)
        </div>

        @if (Model.GradType)
        {
            <div class="editor-field">
                @Html.RadioButtonFor(model => model.GradType, true, new { @checked = "checked" }) Undergraduate
                @Html.RadioButtonFor(model => model.GradType, false) Postgraduate
            </div>
        }
        else
        {
            <div class="editor-field">
            @Html.RadioButtonFor(model => model.GradType, true) Undergraduate
            @Html.RadioButtonFor(model => model.GradType, false, new { @checked = "checked" }) Postgraduate
        </div>
        }
        
        <div class="editor-label">
            @Html.LabelFor(model => model.ProgramType)
        </div>
        @if (Model.ProgramType)
        {
            <div class="editor-field">
            @Html.RadioButtonFor(model => model.ProgramType, true, new { @checked = "checked" }) Bachelors
            @Html.RadioButtonFor(model => model.ProgramType, false) Masters
            </div>
        }
        else
        {
            <div class="editor-field">
            @Html.RadioButtonFor(model => model.ProgramType, true) Bachelors
            @Html.RadioButtonFor(model => model.ProgramType, false, new { @checked = "checked" }) Masters
            </div>
        }

        <div class="editor-label">
            @Html.LabelFor(model => model.Part)
        </div>
        <div class="editor-field">
            @Html.DropDownList("partList")
        </div>

        <div class="editor-label">
            @Html.Label("Modules")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ModList")

        </div>

        <div class="editor-label">
            @Html.Label("Associated Modules")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ModDisp", new SelectList(ViewBag.ModDropDown), new { size = 5 }) 
            @Html.Hidden("Modules")
        </div>

        <input type="button" id="AddModule" value="Add Module" />
        <input type="button" id="RemoveModule" value="Remove Module" />

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
