@model TeamProject2.zFacility

@{
    ViewBag.Title = "Delete Facility";
}

<h2>Delete @Model.FacilityName</h2>

<h3>Are you sure you want to delete @Model.FacilityName from Facilities?</h3>
<fieldset>
    <legend>zFacility</legend>

    <div class="display-label">Facility Name</div>
    <div class="display-field">@Model.FacilityName</div>
    <br />
    <div class="display-label">Number of Requests:</div>
    <div class="display-field">
        @if(Model.zRequest.Count == 0){
            <text>None</text>
        }
        else{
            @(Model.zRequest.Count == 1 ? "1 Facility" : Model.zRequest.Count.ToString() + " Facilities")
        }
    </div>
    <br />
    <div class="display-label">Number of Rooms:</div>
    <div class="display-field">
        @if(Model.zRoom.Count == 0){
            <text>None</text>
        }
        else{
            @(Model.zRoom.Count == 1 ? "1 Room" : Model.zRequest.Count.ToString() + " Rooms")
        }
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


