@model IEnumerable<TeamProject2.zFacility>

@{
    ViewBag.Title = "Facilities";
}

<h2>Facilites</h2>

<p>
    @if (@Html.Encode(User.Identity.Name)=="CA")
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<table id="keywords">
        <thead>
        <tr>
            <th></th>
            <th>Facility ID</th>
            <th>
                Facility
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
        {
            <tr>
                <td>
                    @if (@Html.Encode(User.Identity.Name)=="CA")
                    {
                        @Html.ActionLink("Edit", "Edit", new { id=item.FacilityId })
                        @Html.ActionLink("Details", "Details", new { id=item.FacilityId })
                        @Html.ActionLink("Delete", "Delete", new { id=item.FacilityId })
                    }
                    else
                    {
                        @Html.ActionLink("Details", "Details", new { id = item.FacilityId })
                    }
                </td>
                <td>
                    @item.FacilityId
                </td>
                <td>
			        @item.FacilityName
                </td>
            </tr>
        }
    </tbody>

</table>


