@model TeamProject2.zLecturer

@{
    ViewBag.Title = "Edit Lecturer";
}
@{
    var name = Model.LecturerName;
    if(name.LastIndexOf('s') == name.Length - 1){
        <h2>Edit @Model.LecturerName' Details</h2>
    }
    else{
        <h2>Edit @Model.LecturerName's Details</h2>
    }
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>zLecturer</legend>

        @Html.HiddenFor(model => model.LecturerId)
        <script src="~/Scripts/moduleselector.js"></script>

        <div class="editor-label">
            @Html.LabelFor(model => model.LecturerName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LecturerName)
            @Html.ValidationMessageFor(model => model.LecturerName)
        </div>

        <div class="editor-label">
            @Html.Label("Modules")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ModList")

        </div>

        <div class="editor-label">
            @Html.Label("Associated Modules")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ModDisp", new SelectList(ViewBag.ModDropDown), new { size = 5 }) 
            @Html.Hidden("Modules")
        </div>

        <input type="button" id="AddModule" value="Add Module" />
        <input type="button" id="RemoveModule" value="Remove Module" />

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
