@model TeamProject.zProgramme

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>zProgramme</legend>

    <div class="display-label">ProgrammeTitle</div>
    <div class="display-field">@Model.ProgrammeTitle</div>

    <div class="display-label">DeptCode</div>
    <div class="display-field">@Model.DeptCode</div>

    <div class="display-label">zDepartment</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.zDepartment).ToString()</div>

    <div class="display-label">zModule</div>
    <div class="display-field">@(Model.zModule == null ? "None" : Model.zModule.Count.ToString())</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


