@model TeamProject2.zRoom

@{
    ViewBag.Title = "Room Details";
}

<h2>@Model.RoomCode Details</h2>

<fieldset>
    <legend>zRoom</legend>

    <div class="display-label">Capacity</div>
    <div class="display-field">@Model.Capacity</div>

    <div class="display-label">Building Code</div>
    <div class="display-field">@Model.zBuilding.BuildingCode</div>

    <div class="display-label">Private</div>
    <div class="display-field">
        @if (Model.Private == false) { 
            <text>Not </text>
        }
        Private
    </div>

    <div class="display-label">Facilities</div>
    <div class="display-field">
        @if (Model.zFacility.Count == 0)
        {
            <text>None</text>
        }
        else
        {
            List<string> facName = new List<string>();
            foreach (var facility in Model.zFacility)
            {
                facName.Add(facility.FacilityName);
            }
            <text>
                @(Model.zFacility.Count == 1 ? "1 Facility" : Model.zFacility.Count.ToString() + " Facilities")
                @string.Join(", ", facName)
            </text>
        }
    </div>
    
    <div class="display-label">Image</div>
    <div class="display-field"><img src="@Model.ImgLink"</div>

</fieldset>
<p>
    @Html.ActionLink("Edit Room", "Edit", new { id=Model.RoomCode }) |
    @Html.ActionLink("Back to List", "Index")
</p>


