@model IEnumerable<TeamProject2.zRoom>

@{
    ViewBag.Title = "View Rooms";
}

<h2>View Rooms</h2>

<p>
    @if (@Html.Encode(User.Identity.Name) == "CA")
    {
        @Html.ActionLink("Create New", "Create")
    }
    else
    {
        @Html.ActionLink("Create New Private Room", "Create")
    }
</p>

<table id="table">
    <thead>
        <tr>
            <th></th>
            <th>
                Room
            </th>
            <th>
                Capacity
            </th>
            <th>
                Building
            </th>
            <th>
                Private
            </th>
            <th>
                Facility
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
        {
            if (
                (!@item.Private)
                || 
                (@item.Private && @item.zDepartment.FirstOrDefault().DeptCode == User.Identity.Name)
                )
            {
                <tr>
                    <td>
                        @if (@Html.Encode(User.Identity.Name) == "CA")
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = item.RoomId })
                            @Html.ActionLink("Details", "Details", new { id = item.RoomId })
                            @Html.ActionLink("Delete", "Delete", new { id = item.RoomId })
                        }
                        else
                        {
                            @Html.ActionLink("Details", "Details", new { id = item.RoomId })
                        }
                    </td>
                    <td>
			            @item.RoomCode
                    </td>
                    <td>
			            @item.Capacity
                    </td>
                    <td>
			            @item.zBuilding.BuildingCode
                    </td>
                    <td>
			            @item.Private
                    </td>
                    <td>
                    @if (item.zFacility == null)
                    {
                        <p>None</p>;
                    }
                    else
                    {
                        List<string> facName = new List<string>();
                        foreach (var facility in item.zFacility)
                        {
                            facName.Add(facility.FacilityName);
                        }
                        <p>@string.Join(", ", facName)</p>
                    }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<script>
    $(function () {
        $('#table').tablesorter();
    });
</script>
