@model TeamProject2.zRound

@{
    ViewBag.Title = "Round Details";
}

<h2>Round @Model.RoundNo Details</h2>

<fieldset>
    <legend>zRound</legend>

    <div class="display-label">Start Date</div>
    <div class="display-field">@String.Format("{0:g}", Model.StartDate)</div>

    <div class="display-label">End Date</div>
    <div class="display-field">@String.Format("{0:g}", Model.EndDate)</div>

    <div class="display-label">Number of Requests</div>
    <div class="display-field">
        @if(Model.zRequest.Count == 0){
            <text>None</text>
        }
        else{
            @(Model.zRequest.Count == 1 ? "1 Request" : Model.zRequest.Count.ToString() + " Requests")
        }
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit Round", "Edit", new { id=Model.RoundNo }) |
    @Html.ActionLink("Back to List", "Index")
</p>


