@model TeamProject.zRoom

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>zRoom</legend>

    <div class="display-label">Capacity</div>
    <div class="display-field">@Model.Capacity</div>

    <div class="display-label">BuildingCode</div>
    <div class="display-field">@Model.zBuilding.BuildingCode</div>

    <div class="display-label">Private</div>
    <div class="display-field">@Model.Private</div>

    <div class="display-label">zFacility</div>
    <div class="display-field">
        @if (Model.zFacility.Count == 0)
        {
            <text>None</text>
        }
        else
        {
            List<string> facName = new List<string>();
            foreach (var facility in Model.zFacility)
            {
                facName.Add(facility.FacilityName);
            }
            <text>@string.Join(", ", facName)</text>
        }
    </div>
    
    <div class="display-label">Image</div>
    <div class="display-field"><img src="@Model.ImgLink"</div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.RoomCode }) |
    @Html.ActionLink("Back to List", "Index")
</p>


