@model TeamProject2.zWeek

@{
    ViewBag.Title = "Edit Week Set";
}

<h2>Edit Week Set @Model.WeekId</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>zWeek</legend>

        @Html.HiddenFor(model => model.WeekId)
		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
