@model IEnumerable<TeamProject2.zWeek>

@{
    ViewBag.Title = "Week Sets";
}

<h2>Week Sets</h2>

<p>
    @Html.ActionLink("Create New Week Set", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Week 1
        </th>
        <th>
            Week 2
        </th>
        <th>
            Week 3
        </th>
        <th>
            Week 4
        </th>
        <th>
            Week 5
        </th>
        <th>
            Week 6
        </th>
        <th>
            Week 7
        </th>
        <th>
            Week 8
        </th>
        <th>
            Week 9
        </th>
        <th>
            Week 10
        </th>
        <th>
            Week 11
        </th>
        <th>
            Week 12
        </th>
        <th>
            Week 13
        </th>
        <th>
            Week 14
        </th>
        <th>
            Week 15
        </th>
        <th>
            Week 16
        </th>
        <th>
            Number of Requests
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WeekId }) |
            @Html.ActionLink("Details", "Details", new { id=item.WeekId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WeekId })
        </td>
        <td>
			@item.Week1
        </td>
        <td>
			@item.Week2
        </td>
        <td>
			@item.Week3
        </td>
        <td>
			@item.Week4
        </td>
        <td>
			@item.Week5
        </td>
        <td>
			@item.Week6
        </td>
        <td>
			@item.Week7
        </td>
        <td>
			@item.Week8
        </td>
        <td>
			@item.Week9
        </td>
        <td>
			@item.Week10
        </td>
        <td>
			@item.Week11
        </td>
        <td>
			@item.Week12
        </td>
        <td>
			@item.Week13
        </td>
        <td>
			@item.Week14
        </td>
        <td>
			@item.Week15
        </td>
        <td>
			@item.Week16
        </td>
        <td>
			@if(item.zRequest.Count == 0){
                <text>None</text>
            }
            else{
                @(item.zRequest.Count == 1 ? "1 Request" : item.zRequest.Count.ToString() + " Requests")
            }
        </td>
    </tr>
}

</table>


