@model TeamProject2.zRequest

@{
    ViewBag.Title = "Create Request";
}

<script src="~/Scripts/weekselector.js"></script>
<script src="~/Scripts/roomselector.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/weekselector.css" />

<h2>Create Request</h2>

@* code to display ViewBag 
<ul>
    @foreach (var pair in ViewData)
    {
        <li>@pair.Key : @pair.Value</li>
    }
</ul>
*@

@using (Html.BeginForm("Create", "zRequests")) 
{
    <fieldset>
        <legend>zRequest</legend>



        <div class="editor-label">
            @Html.Label("Department Code")
        </div>
        <div class="editor-field">
            @if (User.Identity.Name == "CA")
            {
                @Html.DropDownList("DeptCode", new SelectList(ViewBag.deptList))
            }
            else
            {
                <p id="DeptCode"> @User.Identity.Name</p>;
            }
        </div>

        <div class="editor-label">
            @Html.Label("Module")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ModCode", new SelectList(ViewBag.moduleList))
        </div>

        <div class="editor-label">
            @Html.Label("Weeks")
        </div>
        <div class="editor-field">
            <ol id="weekSelector">
                <li class="ui-state-default">1</li>
                <li class="ui-state-default">2</li>
                <li class="ui-state-default">3</li>
                <li class="ui-state-default">4</li>
                <li class="ui-state-default">5</li>
                <li class="ui-state-default">6</li>
                <li class="ui-state-default">7</li>
                <li class="ui-state-default">8</li>
                <li class="ui-state-default">9</li>
                <li class="ui-state-default">10</li>
                <li class="ui-state-default">11</li>
                <li class="ui-state-default">12</li>
                <li class="ui-state-default">13</li>
                <li class="ui-state-default">14</li>
                <li class="ui-state-default">15</li>
            </ol>
            <br /><br />
        </div>

        @Html.Hidden("Weeks")
        @Html.HiddenFor(model => model.zWeek.Week1)

        <div class="editor-label">
            @Html.Label("Day")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Day", new SelectList(ViewBag.dayList))
        </div>

        <div class="editor-label">
            @Html.Label("Period")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Period", new SelectList(ViewBag.periodList))
        </div>

        <script type="text/javascript">
        $(document).ready(function () {
            $("#Period").change(function () {
                var pID = parseInt($(this).val());
                var select = $("#SeshLength");
                select.empty();
                select.append("<option value = 1> 1 Hour </option>");
                var hour = 2;
                for (var i = pID; i <= 8; i++)
                {
                    select.append("<option value = " + hour + ">" + hour + " Hours </option>");
                    hour++;
                }
            });
        });
        </script>

        <div class="editor-label">
            @Html.Label("Session Length")
        </div>
        <div class="editor-field">
            @Html.DropDownList("SeshLength", new SelectList(ViewBag.seshLengthList))
        </div>

        <div class="editor-label">
            @Html.Label("Special Requirements")
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.SpecialRequirement)
        </div>

        <div class="editor-label">
            @Html.Label("Facilities")
        </div>
        <div id="FacilitiesChkBox" class="editor-field">
            @foreach (var item in ViewBag.facilityList)
            {
                <input type="checkbox" name="Facilities" id="Facilities" value="@item.Replace(" ", ".")" onchange="filterByFacs()" /> @item <br />
            }
        </div>

        <div class="editor-label">
            @Html.Label("Room - Park")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Park", new SelectList(ViewBag.parkList))
        </div>

        <div class="editor-label">
            @Html.Label("Room - Building")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Building", new SelectList(ViewBag.buildingList))
        </div>

        <div class="editor-label">
            @Html.Label("Room - Room")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Room", new SelectList(ViewBag.roomList))
        </div>

        <div class="editor-label">
            @Html.Label("Number of Students")
        </div>
        <div class="editor-field">
            <input type="range" id="capacity" name="capacity" value=100 min=1 max=400 oninput="outputUpdate(value)" />
            <input type="number" id="capOutput" value=100 min=1 max=400 oninput="outputUpdate(value)" style="width: 50px;" />
        </div>
        
        <script>
            function outputUpdate(cap)
            {
                if (cap > 400) {
                    document.querySelector('#capOutput').value = 400;
                    document.querySelector('#capacity').value = 400;
                }
                else if (cap < 1) {
                    document.querySelector('#capOutput').value = 1;
                    document.querySelector('#capacity').value = 1;
                }
                else {
                    document.querySelector('#capOutput').value = cap;
                    document.querySelector('#capacity').value = cap;
                }
            }
        </script>

        <div class="editor-label">
            @Html.Label("Selected Rooms")
        </div>
        <div class="editor-field">
            <select id="RoomDisp" name="RoomDisp" size="5"></select>
            @Html.Hidden("Rooms")
            @Html.Hidden("Capacities")
        </div>

        <input type="button" id="AddRoom" value="Add Room" />
        <input type="button" id="RemoveRoom" value="Remove Room" />

        <p><input type="submit" value="Create" /></p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


